.imagen {
    width: 200px;
}

main > .container {
    padding-top: 150px;
}

#caja {
    width: 600px;
}

/* Estilos para el formulario de inicio de sesión */
.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
}

.login-container h1 {
    text-align: center;
}

.login-container form {
    margin-top: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}
